<section class="relative py-8 xl:py-10">
    <div class="warrper text-center relative z-10">
      <h2 class="h1 font-bold text-white">गैलरी</h2>
      <ul class="flex items-center justify-center space-x-4">
        <li class="text-c1 text20"><a href="">होम</a></li>
        <li class="text-c1 text20">&gt;</li>
        <li class="text-c1 text20"><a href="">गैलरी</a></li>
      </ul>
    </div>
    <img src="assets/images/titel_bac.webp" class="absolute inset-0 w-full h-full object-cover" alt="titelBacground">
</section>
<section class="py-10 sm:py-12 md:py-14 lg:py-16 xl:py-24">
    <div class="warrper">
        <div class="mansory-gallery">
            <div class="column">
            <img src="assets/images/cow1.webp">
            <img src="assets/images/prashant.PNG">
            <img src="assets/images/chokar_ghehu.webp">
            </div>
            <div class="column">
            <img src="assets/images/seva1.webp">
            <img src="assets/images/chara.webp">
            <img src="assets/images/misan.webp">
            <img src="assets/images/gallery7.webp" alt="">
            <img src="assets/images/galley3.webp" alt="">
            <img src="assets/images/gallery8.webp" alt="">
            </div>
            <div class="column">
            <img src="assets/images/gud.webp">
            <img src="assets/images/dandata.webp">
            <img src="assets/images/galley2.webp">
            <img src="assets/images/gallery5.webp" alt="">
            <img src="assets/images/seva1.webp">
            </div>
            <div class="column">
            <img src="assets/images/chana.webp">
            <img src="assets/images/gov_1.webp">
            <img src="assets/images/khal-.webp">
            <img src="assets/images/gallery7.webp" alt="">
            <img src="assets/images/gallery4.webp" alt="">
            </div>
        </div>
    </div>
</section>
