<section class="relative py-8 xl:py-10">
    <div class="warrper text-center relative z-10">
      <h2 class="h1 font-bold text-white">समाचार</h2>
      <ul class="flex items-center justify-center space-x-4">
        <li class="text-c1 text20"><a href="">होम</a></li>
        <li class="text-c1 text20">&gt;</li>
        <li class="text-c1 text20"><a href="">समाचार</a></li>
      </ul>
    </div>
    <img src="assets/images/titel_bac.webp" class="absolute inset-0 w-full h-full object-cover" alt="titelBacground">
</section>
<section class="py-10 sm:py-12 md:py-14 lg:py-16 xl:py-24">
    <div class="warrper">
        <div class="flex flex-wrap items-stretch -mx-1.5 xl:-mx-2 2xl:-mx-3.5">
            <div class="w-full sm:w-1/2 lg:w-1/3 p-1.5 xl:p-2 2xl:p-3.5 h-auto">
                <div class="bg-white border-2 border-[#E8E8E7] rounded-xl lg:rounded-2xl xl:rounded-[20px] p-2.5 xl:p-3 2xl:p-5 h-full">
                    <div class="rounded-xl lg:rounded-2xl xl:rounded-[20px] overflow-hidden">
                        <img src="assets/images/blog1.webp" class="w-full h-[260px] object-cover" alt="chara">
                    </div>
                    <div class="w-full max-w-96 mx-auto space-y-1.5 lg:space-y-2.5 text-center mt-2.5 xl:mt-4">
                        <h5 class="font-bold text-black">गौ माता का धार्मिक और आध्यात्मिक महत्व</h5>
                        <div>
                            <p class="text18 text-black font-normal">इस ब्लॉग में गाय के हिंदू धर्म और अन्य भारतीय परंपराओं में महत्व, धार्मिक ग्रंथों में इसके उल्लेख, और पूजा-पद्धति के बारे में बताया जाएगा...</p>
                        </div>
                    </div>
                    <div class="mt-2.5 lg:mt-3 2xl:mt-5 text-center">
                        <button class="btn_primary py-1.5 lg:py-2.5 bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-36 xl:max-w-40">अभी दान करें</button>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/3 p-1.5 xl:p-2 2xl:p-3.5 h-auto">
                <div class="bg-white border-2 border-[#E8E8E7] rounded-xl lg:rounded-2xl xl:rounded-[20px] p-2.5 xl:p-3 2xl:p-5 h-full">
                    <div class="rounded-xl lg:rounded-2xl xl:rounded-[20px] overflow-hidden">
                        <img src="assets/images/blog2.webp" class="w-full h-[260px] object-cover" alt="chara">
                    </div>
                    <div class="w-full max-w-96 mx-auto space-y-1.5 lg:space-y-2.5 text-center mt-2.5 xl:mt-4">
                        <h5 class="font-bold text-black">गाय के पांच दिव्य तत्वों के चमत्कारी लाभ</h5>
                        <div>
                            <p class="text18 text-black font-normal">गोमूत्र, गोबर, दूध, दही और घी के औषधीय और स्वास्थ्य लाभों पर विस्तृत चर्चा।</p>
                        </div>
                    </div>
                    <div class="mt-2.5 lg:mt-3 2xl:mt-5 text-center">
                        <button class="btn_primary py-1.5 lg:py-2.5 bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-36 xl:max-w-40">अभी दान करें</button>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/3 p-1.5 xl:p-2 2xl:p-3.5 h-auto">
                <div class="bg-white border-2 border-[#E8E8E7] rounded-xl lg:rounded-2xl xl:rounded-[20px] p-2.5 xl:p-3 2xl:p-5 h-full">
                    <div class="rounded-xl lg:rounded-2xl xl:rounded-[20px] overflow-hidden">
                        <img src="assets/images/blog3.webp" class="w-full h-[260px] object-cover" alt="chara">
                    </div>
                    <div class="w-full max-w-96 mx-auto space-y-1.5 lg:space-y-2.5 text-center mt-2.5 xl:mt-4">
                        <h5 class="font-bold text-black">भारतीय संस्कृति और समाज में इसका योगदान</h5>
                        <div>
                            <p class="text18 text-black font-normal">गौशाला का महत्व, गायों के संरक्षण में इसकी भूमिका, और समाज में इसके सकारात्मक प्रभाव।</p>
                        </div>
                    </div>
                    <div class="mt-2.5 lg:mt-3 2xl:mt-5 text-center">
                        <button class="btn_primary py-1.5 lg:py-2.5 bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-36 xl:max-w-40">अभी दान करें</button>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/3 p-1.5 xl:p-2 2xl:p-3.5 h-auto">
                <div class="bg-white border-2 border-[#E8E8E7] rounded-xl lg:rounded-2xl xl:rounded-[20px] p-2.5 xl:p-3 2xl:p-5 h-full">
                    <div class="rounded-xl lg:rounded-2xl xl:rounded-[20px] overflow-hidden">
                        <img src="assets/images/blog4.webp" class="w-full h-[260px] object-cover" alt="chara">
                    </div>
                    <div class="w-full max-w-96 mx-auto space-y-1.5 lg:space-y-2.5 text-center mt-2.5 xl:mt-4">
                        <h5 class="font-bold text-black">जैविक खेती में गाय का योगदान</h5>
                        <div>
                            <p class="text18 text-black font-normal">गाय के गोबर और गोमूत्र से प्राकृतिक खाद बनाने के तरीके और जैविक खेती में इसके फायदे।</p>
                        </div>
                    </div>
                    <div class="mt-2.5 lg:mt-3 2xl:mt-5 text-center">
                        <button class="btn_primary py-1.5 lg:py-2.5 bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-36 xl:max-w-40">अभी दान करें</button>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/3 p-1.5 xl:p-2 2xl:p-3.5 h-auto">
                <div class="bg-white border-2 border-[#E8E8E7] rounded-xl lg:rounded-2xl xl:rounded-[20px] p-2.5 xl:p-3 2xl:p-5 h-full">
                    <div class="rounded-xl lg:rounded-2xl xl:rounded-[20px] overflow-hidden">
                        <img src="assets/images/blog5.webp" class="w-full h-[260px] object-cover" alt="chara">
                    </div>
                    <div class="w-full max-w-96 mx-auto space-y-1.5 lg:space-y-2.5 text-center mt-2.5 xl:mt-4">
                        <h5 class="font-bold text-black">गोमूत्र और आयुर्वेद: स्वास्थ्य के लिए वरदान</h5>
                        <div>
                            <p class="text18 text-black font-normal">गोमूत्र के औषधीय गुण, आयुर्वेद में इसका उपयोग, और विभिन्न बीमारियों के लिए इसके लाभ।</p>
                        </div>
                    </div>
                    <div class="mt-2.5 lg:mt-3 2xl:mt-5 text-center">
                        <button class="btn_primary py-1.5 lg:py-2.5 bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-36 xl:max-w-40">अभी दान करें</button>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/3 p-1.5 xl:p-2 2xl:p-3.5 h-auto">
                <div class="bg-white border-2 border-[#E8E8E7] rounded-xl lg:rounded-2xl xl:rounded-[20px] p-2.5 xl:p-3 2xl:p-5 h-full">
                    <div class="rounded-xl lg:rounded-2xl xl:rounded-[20px] overflow-hidden">
                        <img src="assets/images/blog6.webp" class="w-full h-[260px] object-cover" alt="chara">
                    </div>
                    <div class="w-full max-w-96 mx-auto space-y-1.5 lg:space-y-2.5 text-center mt-2.5 xl:mt-4">
                        <h5 class="font-bold text-black">गौमाता और पर्यावरण संरक्षण</h5>
                        <div>
                            <p class="text18 text-black font-normal">गाय के संरक्षण से कैसे पर्यावरण की रक्षा हो सकती है, बायोगैस, जैविक खेती, और प्रदूषण नियंत्रण में इसकी भूमिका।</p>
                        </div>
                    </div>
                    <div class="mt-2.5 lg:mt-3 2xl:mt-5 text-center">
                        <button class="btn_primary py-1.5 lg:py-2.5 bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-36 xl:max-w-40">अभी दान करें</button>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/3 p-1.5 xl:p-2 2xl:p-3.5 h-auto">
                <div class="bg-white border-2 border-[#E8E8E7] rounded-xl lg:rounded-2xl xl:rounded-[20px] p-2.5 xl:p-3 2xl:p-5 h-full">
                    <div class="rounded-xl lg:rounded-2xl xl:rounded-[20px] overflow-hidden">
                        <img src="assets/images/blog7.webp" class="w-full h-[260px] object-cover" alt="chara">
                    </div>
                    <div class="w-full max-w-96 mx-auto space-y-1.5 lg:space-y-2.5 text-center mt-2.5 xl:mt-4">
                        <h5 class="font-bold text-black">भारतीय गौ नस्लें और उनके विशेष गुण</h5>
                        <div>
                            <p class="text18 text-black font-normal">भारत में पाई जाने वाली विभिन्न देसी गायों की नस्लें और उनके अनोखे लाभ।</p>
                        </div>
                    </div>
                    <div class="mt-2.5 lg:mt-3 2xl:mt-5 text-center">
                        <button class="btn_primary py-1.5 lg:py-2.5 bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-36 xl:max-w-40">अभी दान करें</button>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/3 p-1.5 xl:p-2 2xl:p-3.5 h-auto">
                <div class="bg-white border-2 border-[#E8E8E7] rounded-xl lg:rounded-2xl xl:rounded-[20px] p-2.5 xl:p-3 2xl:p-5 h-full">
                    <div class="rounded-xl lg:rounded-2xl xl:rounded-[20px] overflow-hidden">
                        <img src="assets/images/cow1.webp" class="w-full h-[260px] object-cover" alt="chara">
                    </div>
                    <div class="w-full max-w-96 mx-auto space-y-1.5 lg:space-y-2.5 text-center mt-2.5 xl:mt-4">
                        <h5 class="font-bold text-black">गौशाला कैसे शुरू करें: एक संपूर्ण मार्गदर्शिका</h5>
                        <div>
                            <p class="text18 text-black font-normal">गौशाला स्थापित करने की प्रक्रिया, आवश्यक संसाधन, कानूनी पहलू, और प्रबंधन के तरीके।</p>
                        </div>
                    </div>
                    <div class="mt-2.5 lg:mt-3 2xl:mt-5 text-center">
                        <button class="btn_primary py-1.5 lg:py-2.5 bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-36 xl:max-w-40">अभी दान करें</button>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/3 p-1.5 xl:p-2 2xl:p-3.5 h-auto">
                <div class="bg-white border-2 border-[#E8E8E7] rounded-xl lg:rounded-2xl xl:rounded-[20px] p-2.5 xl:p-3 2xl:p-5 h-full">
                    <div class="rounded-xl lg:rounded-2xl xl:rounded-[20px] overflow-hidden">
                        <img src="assets/images/blog8.webp" class="w-full h-[260px] object-cover" alt="chara">
                    </div>
                    <div class="w-full max-w-96 mx-auto space-y-1.5 lg:space-y-2.5 text-center mt-2.5 xl:mt-4">
                        <h4 class="font-bold text-black">गौ दान का महत्व और इसके लाभ</h4>
                        <div>
                            <p class="text18 text-black font-normal">गौ दान से जुड़े धार्मिक, आध्यात्मिक और सामाजिक लाभों पर विस्तृत जानकारी।</p>
                        </div>
                    </div>
                    <div class="mt-2.5 lg:mt-3 2xl:mt-5 text-center">
                        <button class="btn_primary py-1.5 lg:py-2.5 bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-36 xl:max-w-40">अभी दान करें</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>