<section class=" bg-d_green relative">
    <!-- <div class="warrper"> -->
        <div class="flex flex-wrap items-center">
            <div class="sm:order-2 w-full h-80 overflow-hidden sm:h-auto sm:w-1/2 xl:w-5/12">
                <img src="assets/images/hro_img.png" class=" w-full h-full object-right scale-150 sm:scale-100 sm:object-left object-cover" alt="hro_img"/>
            </div>
            <div class="sm:order-1 w-full sm:w-1/2 xl:w-7/12 p-3.5">
                <div class="max-w-[820px] ml-auto py-7 md:py-0">
                    <span class="inline-block text-14 lg:text-16 xl:text-18 text-c1 font-normal border-2 border-c1 rounded-full py-1.5 lg:py-2 px-2.5 xl:px-4">मिलकर बदलें गौमाता का संसार</span>
                    <h1 class="mt-4 md:mt-6 xl:mt-10 2xl:mt-14">गौ सेवा में जुड़कर, बनें समाज का अभिन्न हिस्सा</h1>
                    <p class="text-14 lg:text-16 xl:text-18 text-white font-normal md:mt-2.5 xl:mt-4 mb-2.5 md:mb-4 lg:mb-8 xl:mb-10 2xl:mb-12">आपके सहयोग से गौ माता को मिलेगा एक सुरक्षित और सुखद जीवन।</p>
                    <a class="btn_primary bg-orange hover:bg-transparent hover:text-white text-center hover:border-orange anim md:w-full md:max-w-[200px]" [routerLink]="'/donetion'"> दान कीजिए</a>
                    <div class="flex flex-wrap items-center space-x-3.5 xl:space-x-5 2xl:space-x-10 mt-4 md:mt-6 xl:mt-10 2xl:mt-14">
                        <img src="assets/images/logo1.webp" class="w-full max-w-10 md:max-w-14 xl:max-w-20" alt=""/>
                        <img src="assets/images/logo2.webp" class="w-full max-w-10 md:max-w-14 xl:max-w-20" alt=""/>
                        <img src="assets/images/logo3.webp" class="w-full max-w-10 md:max-w-14 xl:max-w-20" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
</section>
<section class="py-10 sm:py-12 md:py-14 lg:py-16 xl:py-20">
    <div class="warrper max-w-[1198px]">
        <div class="flex flex-wrap -mx-1.5 lg:-mx-2.5 2xl:-mx-3.5">
            <div class="w-full max-w-96 mx-auto sm:w-1/2 md:w-1/3 p-1.5 lg:p-2.5 2xl:p-3.5">
                <div class="rounded-xl lg:rounded-2xl xl:rounded-3xl 2xl:rounded-[30px] bg-d_green overflow-hidden">
                    <div class="h-60">
                        <img src="assets/images/cow1.webp" class="w-full h-full object-cover" alt="cow1"/>
                    </div>
                    <div class="py-4 lg:py-6 xl:py-8 2xl:py-10 px-3.5 lg:px-5 text-center">
                        <h2 class="text-white font-bold">10,000+</h2>
                        <p class="text-18 lg:text-20 xl:text-24 text-white">गौ माता का संरक्षण</p>
                    </div>
                </div>
            </div>
            <div class="w-full max-w-96 mx-auto sm:w-1/2 md:w-1/3 p-1.5 lg:p-2.5 2xl:p-3.5">
                <div class="rounded-xl lg:rounded-2xl xl:rounded-3xl 2xl:rounded-[30px] bg-d_green overflow-hidden">
                    <div class="h-60">
                        <img src="assets/images/saymsevak.webp" class="w-full h-full object-cover" alt="cow1"/>
                    </div>
                    <div class="py-4 lg:py-6 xl:py-8 2xl:py-10 px-3.5 lg:px-5 text-center">
                        <h2 class="text-white font-bold">12000+</h2>
                        <p class="text-18 lg:text-20 xl:text-24 text-white">कुल स्वयंसेवक</p>
                    </div>
                </div>
            </div>
            <div class="w-full max-w-96 mx-auto sm:w-1/2 md:w-1/3 p-1.5 lg:p-2.5 2xl:p-3.5">
                <div class="rounded-xl lg:rounded-2xl xl:rounded-3xl 2xl:rounded-[30px] bg-d_green overflow-hidden">
                    <div class="h-60">
                        <img src="assets/images/dandata.webp" class="w-full h-full object-cover" alt="cow1"/>
                    </div>
                    <div class="py-4 lg:py-6 xl:py-8 2xl:py-10 px-3.5 lg:px-5 text-center">
                        <h2 class="text-white font-bold">50,000+</h2>
                        <p class="text-18 lg:text-20 xl:text-24 text-white">दानदाताओं द्वारा समर्थन</p>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section>
<section class="pb-10 sm:pb-12 md:pb-14 lg:pb-16 xl:pb-20">
    <div class="warrper">
        <div class="flex flex-wrap items-center -mx-3.5">
            <div class="w-full md:w-1/2 p-3.5">
                <img src="assets/images/video_img.webp" class="mx-auto" alt="video_img"/>
            </div>
            <div class="w-full md:w-1/2 p-3.5">
                <h2 class="text-black font-bold max-w-[533px] mb-2 md:mb-3 xl:mb-4">गौशाला के माध्यम से एक नई सोच और समर्पण</h2>
                <p class="text20 font-normal text-black">गौ सेवा और संरक्षण का हमारा मिशन आपको आमंत्रित करता है। गौ माता के कल्याण, उनके स्वास्थ्य और सुरक्षा के लिए हमारा प्रयास अनवरत जारी है। भारत और दुनिया भर में गौ सेवा में आपका सहयोग हमें अधिक मदद और समर्थन जुटाने में सहायता करेगा।</p>
                <div class="flex flex-wrap items-center justify-between -mx-1.5 mt-2 md:mt-4 lg:mt-8 xl:mt-10 2xl:mt-12">
                    <div class="w-full lg:w-5/12 xl:w-4/12 p-1.5">
                        <h5 class="font-bold text-black sm:mb-1.5 xl:mb-2.5 2xl:mb-3">गौ सेवा टीम में शामिल हों।</h5> 
                        <p class="text20 font-normal text-black">गौ माता की सेवा के लिए समर्पित प्रयास करें।</p>
                    </div>
                    <div class="w-full lg:w-5/12 p-1.5">
                        <h5 class="font-bold text-black sm:mb-1.5 xl:mb-2.5 2xl:mb-3">दान करके गौ रक्षा करें।</h5> 
                        <p class="text20 font-normal text-black">आपके सहयोग से गौ माता को बेहतर जीवन मिल सकता है।</p>
                    </div>
                </div>
                <div class="mt-2.5 md:mt-4 lg:mt-8 xl:mt-10 2xl:mt-12">
                    <button class="btn_primary bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-32 lg:max-w-[200px]">संपर्क करें</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-10 sm:py-12 md:py-14 lg:py-16 xl:py-20 bg-l1">
    <div class="warrper space-y-6 lg:space-y-8 xl:space-y-10 2xl:space-y-12">
        <h2 class="text-center">गौ सेवा में सहयोग कैसे करें</h2>
        <div class="flex flex-wrap items-stretch -mx-1.5 xl:-mx-2 2xl:-mx-3.5">
            <div class="w-full sm:w-1/2 lg:w-1/3 p-1.5 xl:p-2 2xl:p-3.5 h-auto">
                <div class="bg-white border-2 border-[#E8E8E7] rounded-xl lg:rounded-2xl xl:rounded-[20px] p-2.5 xl:p-3 2xl:p-5 h-full">
                    <div class="rounded-xl lg:rounded-2xl xl:rounded-[20px] overflow-hidden">
                        <img src="assets/images/chara.webp" class="w-full h-[260px] object-cover" alt="chara"/>
                    </div>
                    <div class="w-full max-w-96 mx-auto space-y-1.5 lg:space-y-2.5 text-center mt-2.5 xl:mt-4">
                        <h4 class="font-bold text-black">हरा चारा</h4>
                        <div>
                            <p class="text18 text-black font-normal">लाभ: गायों के लिए मुख्य और पसंदीदा भोजन। यह बहुत ही स्वादिष्ट और सुपाच्य है।</p>
                            <p class="text18 text-black font-normal">आवश्यकता: प्रति माह 2 मिलियन किलोग्राम से अधिक</p>
                        </div>
                    </div>
                    <div class="mt-2.5 lg:mt-3 2xl:mt-5 text-center">
                        <button class="btn_primary py-1.5 lg:py-2.5 bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-28 xl:max-w-40">अभी दान करें</button>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/3 p-1.5 xl:p-2 2xl:p-3.5 h-auto">
                <div class="bg-white border-2 border-[#E8E8E7] rounded-xl lg:rounded-2xl xl:rounded-[20px] p-2.5 xl:p-3 2xl:p-5 h-full">
                    <div class="rounded-xl lg:rounded-2xl xl:rounded-[20px] overflow-hidden">
                        <img src="assets/images/gud.webp" class="w-full h-[260px] object-cover" alt="chara"/>
                    </div>
                    <div class="w-full max-w-96 mx-auto space-y-1.5 lg:space-y-2.5 text-center mt-2.5 xl:mt-4">
                        <h4 class="font-bold text-black">गुड़</h4>
                        <div>
                            <p class="text18 text-black font-normal">लाभ: इसमें आयरन होता है और यह पशुओं को स्वस्थ और तंदुरुस्त रखता है।</p>
                            <p class="text18 text-black font-normal">आवश्यकता: लगभग 10 टन प्रति माह</p>
                        </div>
                    </div>
                    <div class="mt-2.5 lg:mt-3 2xl:mt-5 text-center">
                        <button class="btn_primary py-1.5 lg:py-2.5 bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-28 xl:max-w-40">अभी दान करें</button>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/3 p-1.5 xl:p-2 2xl:p-3.5 h-auto">
                <div class="bg-white border-2 border-[#E8E8E7] rounded-xl lg:rounded-2xl xl:rounded-[20px] p-2.5 xl:p-3 2xl:p-5 h-full">
                    <div class="rounded-xl lg:rounded-2xl xl:rounded-[20px] overflow-hidden">
                        <img src="assets/images/ghehu.webp" class="w-full h-[260px] object-cover" alt="chara"/>
                    </div>
                    <div class="w-full max-w-96 mx-auto space-y-1.5 lg:space-y-2.5 text-center mt-2.5 xl:mt-4">
                        <h4 class="font-bold text-black">भूसी -गेहूँ का भूसा</h4>
                        <div>
                            <p class="text18 text-black font-normal">लाभ: जुगाली करने वाले पशुओं के लिए यह अनिवार्य रूप से आवश्यक है। यह पेट भरता है</p>
                            <p class="text18 text-black font-normal">आवश्यकता: प्रति माह दस लाख किलोग्राम से अधिक</p>
                        </div>
                    </div>
                    <div class="mt-2.5 lg:mt-3 2xl:mt-5 text-center">
                        <button class="btn_primary py-1.5 lg:py-2.5 bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-28 xl:max-w-40">अभी दान करें</button>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/3 p-1.5 xl:p-2 2xl:p-3.5 h-auto">
                <div class="bg-white border-2 border-[#E8E8E7] rounded-xl lg:rounded-2xl xl:rounded-[20px] p-2.5 xl:p-3 2xl:p-5 h-full">
                    <div class="rounded-xl lg:rounded-2xl xl:rounded-[20px] overflow-hidden">
                        <img src="assets/images/chokar_ghehu.webp" class="w-full h-[260px] object-cover" alt="chara"/>
                    </div>
                    <div class="w-full max-w-96 mx-auto space-y-1.5 lg:space-y-2.5 text-center mt-2.5 xl:mt-4">
                        <h4 class="font-bold text-black">चोकर -गेहूं का चोकर</h4>
                        <div>
                            <p class="text18 text-black font-normal">लाभ: यह फाइबर का एक बेहतरीन स्रोत है। पाचन तंत्र को स्वस्थ रखता है।</p>
                            <p class="text18 text-black font-normal">आवश्यकता: प्रति माह एक लाख किलोग्राम से अधिक</p>
                        </div>
                    </div>
                    <div class="mt-2.5 lg:mt-3 2xl:mt-5 text-center">
                        <button class="btn_primary py-1.5 lg:py-2.5 bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-28 xl:max-w-40">अभी दान करें</button>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/3 p-1.5 xl:p-2 2xl:p-3.5 h-auto">
                <div class="bg-white border-2 border-[#E8E8E7] rounded-xl lg:rounded-2xl xl:rounded-[20px] p-2.5 xl:p-3 2xl:p-5 h-full">
                    <div class="rounded-xl lg:rounded-2xl xl:rounded-[20px] overflow-hidden">
                        <img src="assets/images/khal-.webp" class="w-full h-[260px] object-cover" alt="chara"/>
                    </div>
                    <div class="w-full max-w-96 mx-auto space-y-1.5 lg:space-y-2.5 text-center mt-2.5 xl:mt-4">
                        <h4 class="font-bold text-black">खल</h4>
                        <div>
                            <p class="text18 text-black font-normal">लाभ: स्वास्थ्य के लिए अच्छा। यह मवेशियों को ताकत देता है।</p>
                            <p class="text18 text-black font-normal">आवश्यकता: लगभग 10 टन प्रति माह</p>
                        </div>
                    </div>
                    <div class="mt-2.5 lg:mt-3 2xl:mt-5 text-center">
                        <button class="btn_primary py-1.5 lg:py-2.5 bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-28 xl:max-w-40">अभी दान करें</button>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/3 p-1.5 xl:p-2 2xl:p-3.5 h-auto">
                <div class="bg-white border-2 border-[#E8E8E7] rounded-xl lg:rounded-2xl xl:rounded-[20px] p-2.5 xl:p-3 2xl:p-5 h-full">
                    <div class="rounded-xl lg:rounded-2xl xl:rounded-[20px] overflow-hidden">
                        <img src="assets/images/chana.webp" class="w-full h-[260px] object-cover" alt="chara"/>
                    </div>
                    <div class="w-full max-w-96 mx-auto space-y-1.5 lg:space-y-2.5 text-center mt-2.5 xl:mt-4">
                        <h4 class="font-bold text-black">चना चूरी</h4>
                        <div>
                            <p class="text18 text-black font-normal">लाभ: यह फाइबर का एक बेहतरीन स्रोत है। पाचन तंत्र को स्वस्थ रखता है।</p>
                            <p class="text18 text-black font-normal">आवश्यकता: प्रति माह एक लाख किलोग्राम से अधिक</p>
                        </div>
                    </div>
                    <div class="mt-2.5 lg:mt-3 2xl:mt-5 text-center">
                        <button class="btn_primary py-1.5 lg:py-2.5 bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-28 xl:max-w-40">अभी दान करें</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-10 sm:py-12 md:py-14 lg:py-16 xl:py-20">
    <div class="warrper">
        <h2 class="text-center">माधव गौशाला की विशेषताएं</h2>
        <div class="flex flex-wrap items-center justify-center -mx-3.5">
            <div class="w-full xs:w-1/2 lg:w-1/3 p-3.5">
                <img src="assets/images/1.webp" class="mx-auto w-20 md:w-24 lg:w-32 xl:w-40 2xl:w-[186px]" alt="1"/>
                <div class="text-center space-y-1.5 2xl:space-y-2.5 gbb hb mt-2.5 lg:mt-3 xl:mt-5 2xl:mt-7">
                    <h4 class="font-bold text-black">चिकित्सा सहायता</h4>
                    <p class="text20 font-normal text-center max-w-[362px] mx-auto">हम गौ माता को सभी प्रकार की चिकित्सा सहायता प्रदान करते हैं। हम यह सुनिश्चित करते हैं कि हमारी पवित्र गौ माताएं पूरी तरह से टीकाकृत हों और समय पर उनका उपचार किया जाए।</p>
                </div>
            </div>
            <div class="w-full xs:w-1/2 lg:w-1/3 p-3.5">
                <img src="assets/images/2.webp" class="mx-auto w-20 md:w-24 lg:w-32 xl:w-40 2xl:w-[186px]" alt="1"/>
                <div class="text-center space-y-1.5 2xl:space-y-2.5 gbb hb mt-2.5 lg:mt-3 xl:mt-5 2xl:mt-7">
                    <h4 class="font-bold text-black">पोषण और बछड़ों की देखभाल</h4>
                    <p class="text20 font-normal text-center max-w-[362px] mx-auto">हम यह सुनिश्चित करते हैं कि गायों और अन्य जानवरों को स्वस्थ जीवन के लिए सभी पोषक तत्वों से भरपूर भोजन मिले। यह उन्हें एक स्वस्थ और खुशहाल जीवन जीने में मदद करता है।</p>
                </div>
            </div>
            <div class="w-full xs:w-1/2 lg:w-1/3 p-3.5">
                <img src="assets/images/3.webp" class="mx-auto w-20 md:w-24 lg:w-32 xl:w-40 2xl:w-[186px]" alt="1"/>
                <div class="text-center space-y-1.5 2xl:space-y-2.5 gbb hb mt-2.5 lg:mt-3 xl:mt-5 2xl:mt-7">
                    <h4 class="font-bold text-black">विशिष्ट पहचान</h4>
                    <p class="text20 font-normal text-center max-w-[362px] mx-auto">हमने गायों पर RFID टैग लगाए हैं, जो हमें प्रत्येक गाय की पहचान करने और उनके चिकित्सा इतिहास, जैसे टीकाकरण की स्थिति, को अपडेट करने में मदद करते हैं।</p>
                </div>
            </div>
            <div class="w-full xs:w-1/2 lg:w-1/3 p-3.5">
                <img src="assets/images/4.webp" class="mx-auto w-20 md:w-24 lg:w-32 xl:w-40 2xl:w-[186px]" alt="1"/>
                <div class="text-center space-y-1.5 2xl:space-y-2.5 gbb hb mt-2.5 lg:mt-3 xl:mt-5 2xl:mt-7">
                    <h4 class="font-bold text-black">गौ माता को गोद लें और दान करें</h4>
                    <p class="text20 font-normal text-center max-w-[362px] mx-auto">अब आप गौ माता को गोद ले सकते हैं और उनकी भलाई के लिए मासिक, त्रैमासिक या वार्षिक आधार पर दान कर सकते हैं। ऐसा करके आप पवित्र आशीर्वाद प्राप्त करेंगे।</p>
                </div>
            </div>
            <div class="w-full xs:w-1/2 lg:w-1/3 p-3.5">
                <img src="assets/images/5.webp" class="mx-auto w-20 md:w-24 lg:w-32 xl:w-40 2xl:w-[186px]" alt="1"/>
                <div class="text-center space-y-1.5 2xl:space-y-2.5 gbb hb mt-2.5 lg:mt-3 xl:mt-5 2xl:mt-7">
                    <h4 class="font-bold text-black">डिजिटल रूप से संगठित</h4>
                    <p class="text20 font-normal text-center max-w-[362px] mx-auto">"माधव गौशाला" वेबसाइट के माध्यम से हमने गौशाला के पूरे संचालन को डिजिटल कर दिया है, जिससे कार्यक्षमता के स्तर में सुधार हुआ है।</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pb-10 sm:pb-12 md:pb-14 lg:pb-16 xl:pb-24 space-y-6 lg:space-y-8 xl:space-y-10 2xl:space-y-12">
    <div class="warrper">
        <h2 class="text-center">हमारी सफलता का प्रतिबिंब: मीडिया रिपोर्ट्स</h2>
    </div>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper items-stretch">
          <div class="swiper-slide h-auto">
            <div class="h-64">
                <img src="assets/images/new.webp" class="mx-auto" alt="new"/>
            </div>
          </div>
          <div class="swiper-slide h-auto">
            <div class="h-64">
                <img src="assets/images/new2.webp" class="mx-auto" alt="new"/>
            </div>
          </div>
          <div class="swiper-slide h-auto">
            <div class="h-64">
                <img src="assets/images/new3.webp" class="mx-auto" alt="new"/>
            </div>
          </div>
          <div class="swiper-slide h-auto">
            <div class="h-64">
                <img src="assets/images/new4.webp" class="mx-auto" alt="new"/>
            </div>
          </div>
          <div class="swiper-slide h-auto">
            <div class="h-64">
                <img src="assets/images/new5.webp" class="mx-auto" alt="new"/>
            </div>
          </div>
          <div class="swiper-slide h-auto">
            <div class="h-64">
                <img src="assets/images/new6.webp" class="mx-auto" alt="new"/>
            </div>
          </div>
          <div class="swiper-slide h-auto">
            <div class="h-64">
                <img src="assets/images/new7.webp" class="mx-auto" alt="new"/>
            </div>
          </div>
          <div class="swiper-slide h-auto">
            <div class="h-64">
                <img src="assets/images/new8.webp" class="mx-auto" alt="new"/>
            </div>
          </div>
          <div class="swiper-slide h-auto">
            <div class="h-64">
                <img src="assets/images/new9.webp" class="mx-auto" alt="new"/>
            </div>
          </div>
          <div class="swiper-slide h-auto">
            <div class="h-64">
                <img src="assets/images/new10.webp" class="mx-auto" alt="new"/>
            </div>
          </div>
          <div class="swiper-slide h-auto">
            <div class="h-64">
                <img src="assets/images/new11.webp" class="mx-auto" alt="new"/>
            </div>
          </div>
          <div class="swiper-slide h-auto">
            <div class="h-64">
                <img src="assets/images/new12.webp" class="mx-auto" alt="new"/>
            </div>
          </div>
          <div class="swiper-slide h-auto">
            <div class="h-64">
                <img src="assets/images/new13.webp" class="mx-auto" alt="new"/>
            </div>
          </div>
          <div class="swiper-slide h-auto">
            <div class="h-64">
                <img src="assets/images/new14.webp" class="mx-auto" alt="new"/>
            </div>
          </div>
          <div class="swiper-slide h-auto">
            <div class="h-64">
                <img src="assets/images/new15.webp" class="mx-auto" alt="new"/>
            </div>
          </div>
          <div class="swiper-slide h-auto">
            <div class="h-64">
                <img src="assets/images/new16.webp" class="mx-auto" alt="new"/>
            </div>
          </div>
        </div>
    </div>
</section>
