<section class="relative py-8 xl:py-10">
    <div class="warrper text-center relative z-10">
      <h2 class="h1 font-bold text-white">दान कीजिए</h2>
      <ul class="flex items-center justify-center space-x-4">
        <li class="text-c1 text20"><a href="">होम</a></li>
        <li class="text-c1 text20">&gt;</li>
        <li class="text-c1 text20"><a href="">दान कीजिए</a></li>
      </ul>
    </div>
    <img src="assets/images/titel_bac.webp" class="absolute inset-0 w-full h-full object-cover" alt="titelBacground">
</section>
<section class="py-10 sm:py-12 md:py-14 lg:py-16 xl:py-20">
    <div class="warrper space-y-6 lg:space-y-8 xl:space-y-10 2xl:space-y-12">
        <h2 class="text-center">गौ सेवा में सहयोग कैसे करें</h2>
        <div class="flex flex-wrap items-stretch -mx-1.5 xl:-mx-2 2xl:-mx-3.5">
            <div class="w-full sm:w-1/2 lg:w-1/3 p-1.5 xl:p-2 2xl:p-3.5 h-auto">
                <div class="bg-white border-2 border-[#E8E8E7] rounded-xl lg:rounded-2xl xl:rounded-[20px] p-2.5 xl:p-3 2xl:p-5 h-full">
                    <div class="rounded-xl lg:rounded-2xl xl:rounded-[20px] overflow-hidden">
                        <img src="assets/images/chara.webp" class="w-full h-[260px] object-cover" alt="chara"/>
                    </div>
                    <div class="w-full max-w-96 mx-auto space-y-1.5 lg:space-y-2.5 text-center mt-2.5 xl:mt-4">
                        <h4 class="font-bold text-black">हरा चारा</h4>
                        <div>
                            <p class="text18 text-black font-normal">लाभ: गायों के लिए मुख्य और पसंदीदा भोजन। यह बहुत ही स्वादिष्ट और सुपाच्य है।</p>
                            <p class="text18 text-black font-normal">आवश्यकता: प्रति माह 2 मिलियन किलोग्राम से अधिक</p>
                        </div>
                    </div>
                    <div class="mt-2.5 lg:mt-3 2xl:mt-5 text-center">
                        <button class="btn_primary py-1.5 lg:py-2.5 bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-28 xl:max-w-40">अभी दान करें</button>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/3 p-1.5 xl:p-2 2xl:p-3.5 h-auto">
                <div class="bg-white border-2 border-[#E8E8E7] rounded-xl lg:rounded-2xl xl:rounded-[20px] p-2.5 xl:p-3 2xl:p-5 h-full">
                    <div class="rounded-xl lg:rounded-2xl xl:rounded-[20px] overflow-hidden">
                        <img src="assets/images/gud.webp" class="w-full h-[260px] object-cover" alt="chara"/>
                    </div>
                    <div class="w-full max-w-96 mx-auto space-y-1.5 lg:space-y-2.5 text-center mt-2.5 xl:mt-4">
                        <h4 class="font-bold text-black">गुड़</h4>
                        <div>
                            <p class="text18 text-black font-normal">लाभ: इसमें आयरन होता है और यह पशुओं को स्वस्थ और तंदुरुस्त रखता है।</p>
                            <p class="text18 text-black font-normal">आवश्यकता: लगभग 10 टन प्रति माह</p>
                        </div>
                    </div>
                    <div class="mt-2.5 lg:mt-3 2xl:mt-5 text-center">
                        <button class="btn_primary py-1.5 lg:py-2.5 bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-28 xl:max-w-40">अभी दान करें</button>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/3 p-1.5 xl:p-2 2xl:p-3.5 h-auto">
                <div class="bg-white border-2 border-[#E8E8E7] rounded-xl lg:rounded-2xl xl:rounded-[20px] p-2.5 xl:p-3 2xl:p-5 h-full">
                    <div class="rounded-xl lg:rounded-2xl xl:rounded-[20px] overflow-hidden">
                        <img src="assets/images/ghehu.webp" class="w-full h-[260px] object-cover" alt="chara"/>
                    </div>
                    <div class="w-full max-w-96 mx-auto space-y-1.5 lg:space-y-2.5 text-center mt-2.5 xl:mt-4">
                        <h4 class="font-bold text-black">भूसी -गेहूँ का भूसा</h4>
                        <div>
                            <p class="text18 text-black font-normal">लाभ: जुगाली करने वाले पशुओं के लिए यह अनिवार्य रूप से आवश्यक है। यह पेट भरता है</p>
                            <p class="text18 text-black font-normal">आवश्यकता: प्रति माह दस लाख किलोग्राम से अधिक</p>
                        </div>
                    </div>
                    <div class="mt-2.5 lg:mt-3 2xl:mt-5 text-center">
                        <button class="btn_primary py-1.5 lg:py-2.5 bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-28 xl:max-w-40">अभी दान करें</button>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/3 p-1.5 xl:p-2 2xl:p-3.5 h-auto">
                <div class="bg-white border-2 border-[#E8E8E7] rounded-xl lg:rounded-2xl xl:rounded-[20px] p-2.5 xl:p-3 2xl:p-5 h-full">
                    <div class="rounded-xl lg:rounded-2xl xl:rounded-[20px] overflow-hidden">
                        <img src="assets/images/chokar_ghehu.webp" class="w-full h-[260px] object-cover" alt="chara"/>
                    </div>
                    <div class="w-full max-w-96 mx-auto space-y-1.5 lg:space-y-2.5 text-center mt-2.5 xl:mt-4">
                        <h4 class="font-bold text-black">चोकर -गेहूं का चोकर</h4>
                        <div>
                            <p class="text18 text-black font-normal">लाभ: यह फाइबर का एक बेहतरीन स्रोत है। पाचन तंत्र को स्वस्थ रखता है।</p>
                            <p class="text18 text-black font-normal">आवश्यकता: प्रति माह एक लाख किलोग्राम से अधिक</p>
                        </div>
                    </div>
                    <div class="mt-2.5 lg:mt-3 2xl:mt-5 text-center">
                        <button class="btn_primary py-1.5 lg:py-2.5 bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-28 xl:max-w-40">अभी दान करें</button>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/3 p-1.5 xl:p-2 2xl:p-3.5 h-auto">
                <div class="bg-white border-2 border-[#E8E8E7] rounded-xl lg:rounded-2xl xl:rounded-[20px] p-2.5 xl:p-3 2xl:p-5 h-full">
                    <div class="rounded-xl lg:rounded-2xl xl:rounded-[20px] overflow-hidden">
                        <img src="assets/images/khal-.webp" class="w-full h-[260px] object-cover" alt="chara"/>
                    </div>
                    <div class="w-full max-w-96 mx-auto space-y-1.5 lg:space-y-2.5 text-center mt-2.5 xl:mt-4">
                        <h4 class="font-bold text-black">खल</h4>
                        <div>
                            <p class="text18 text-black font-normal">लाभ: स्वास्थ्य के लिए अच्छा। यह मवेशियों को ताकत देता है।</p>
                            <p class="text18 text-black font-normal">आवश्यकता: लगभग 10 टन प्रति माह</p>
                        </div>
                    </div>
                    <div class="mt-2.5 lg:mt-3 2xl:mt-5 text-center">
                        <button class="btn_primary py-1.5 lg:py-2.5 bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-28 xl:max-w-40">अभी दान करें</button>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/3 p-1.5 xl:p-2 2xl:p-3.5 h-auto">
                <div class="bg-white border-2 border-[#E8E8E7] rounded-xl lg:rounded-2xl xl:rounded-[20px] p-2.5 xl:p-3 2xl:p-5 h-full">
                    <div class="rounded-xl lg:rounded-2xl xl:rounded-[20px] overflow-hidden">
                        <img src="assets/images/chana.webp" class="w-full h-[260px] object-cover" alt="chara"/>
                    </div>
                    <div class="w-full max-w-96 mx-auto space-y-1.5 lg:space-y-2.5 text-center mt-2.5 xl:mt-4">
                        <h4 class="font-bold text-black">चना चूरी</h4>
                        <div>
                            <p class="text18 text-black font-normal">लाभ: यह फाइबर का एक बेहतरीन स्रोत है। पाचन तंत्र को स्वस्थ रखता है।</p>
                            <p class="text18 text-black font-normal">आवश्यकता: प्रति माह एक लाख किलोग्राम से अधिक</p>
                        </div>
                    </div>
                    <div class="mt-2.5 lg:mt-3 2xl:mt-5 text-center">
                        <button class="btn_primary py-1.5 lg:py-2.5 bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-28 xl:max-w-40">अभी दान करें</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pb-10 sm:pb-12 md:pb-14 lg:pb-16 xl:pb-20">
    <div class="warrper space-y-6 lg:space-y-8 xl:space-y-10 2xl:space-y-12">
        <h2 class="text-center">गौ सेवा में सहयोग कैसे करें</h2>
        <div class="flex flex-wrap items-stretch -mx-1.5 xl:-mx-2 2xl:-mx-3.5">
            <div class="w-full sm:w-1/2 lg:w-1/3 p-1.5 xl:p-2 2xl:p-3.5 h-auto">
                <div class="bg-white border-2 border-[#E8E8E7] rounded-xl lg:rounded-2xl xl:rounded-[20px] p-2.5 xl:p-3 2xl:p-5 h-full">
                    <div class="rounded-xl lg:rounded-2xl xl:rounded-[20px] overflow-hidden">
                        <img src="assets/images/upchar1.webp" class="w-full h-[260px] object-cover" alt="chara"/>
                    </div>
                    <div class="w-full max-w-96 mx-auto space-y-1.5 lg:space-y-2.5 text-center mt-2.5 xl:mt-4">
                        <h4 class="font-bold text-black">सामान्य दवाइयाँ</h4>
                        <div>
                            <p class="text18 text-black font-normal">लाभ: हमारे गौवंश को सुरक्षित और स्वस्थ रखने के लिए आवश्यक।</p>
                        </div>
                    </div>
                    <div class="mt-2.5 lg:mt-3 2xl:mt-5 text-center">
                        <button class="btn_primary py-1.5 lg:py-2.5 bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-28 xl:max-w-40">अभी दान करें</button>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/3 p-1.5 xl:p-2 2xl:p-3.5 h-auto">
                <div class="bg-white border-2 border-[#E8E8E7] rounded-xl lg:rounded-2xl xl:rounded-[20px] p-2.5 xl:p-3 2xl:p-5 h-full">
                    <div class="rounded-xl lg:rounded-2xl xl:rounded-[20px] overflow-hidden">
                        <img src="assets/images/upchar2.webp" class="w-full h-[260px] object-cover" alt="chara"/>
                    </div>
                    <div class="w-full max-w-96 mx-auto space-y-1.5 lg:space-y-2.5 text-center mt-2.5 xl:mt-4">
                        <h4 class="font-bold text-black">महत्वपूर्ण टीकाकरण</h4>
                        <div>
                            <p class="text18 text-black font-normal">लाभ: हमारे गौवंश को विभिन्न बीमारियों से सुरक्षित रखें।</p>
                        </div>
                    </div>
                    <div class="mt-2.5 lg:mt-3 2xl:mt-5 text-center">
                        <button class="btn_primary py-1.5 lg:py-2.5 bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-28 xl:max-w-40">अभी दान करें</button>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/3 p-1.5 xl:p-2 2xl:p-3.5 h-auto">
                <div class="bg-white border-2 border-[#E8E8E7] rounded-xl lg:rounded-2xl xl:rounded-[20px] p-2.5 xl:p-3 2xl:p-5 h-full">
                    <div class="rounded-xl lg:rounded-2xl xl:rounded-[20px] overflow-hidden">
                        <img src="assets/images/upchar3.webp" class="w-full h-[260px] object-cover" alt="chara"/>
                    </div>
                    <div class="w-full max-w-96 mx-auto space-y-1.5 lg:space-y-2.5 text-center mt-2.5 xl:mt-4">
                        <h4 class="font-bold text-black">घायल गायों का चिकित्सा उपचार</h4>
                        <div>
                            <p class="text18 text-black font-normal">लाभ: हम घायल गाय की पूरी देखभाल करते हैं जब तक कि वह पूरी तरह ठीक न हो जाए।</p>
                        </div>
                    </div>
                    <div class="mt-2.5 lg:mt-3 2xl:mt-5 text-center">
                        <button class="btn_primary py-1.5 lg:py-2.5 bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-28 xl:max-w-40">अभी दान करें</button>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/3 p-1.5 xl:p-2 2xl:p-3.5 h-auto">
                <div class="bg-white border-2 border-[#E8E8E7] rounded-xl lg:rounded-2xl xl:rounded-[20px] p-2.5 xl:p-3 2xl:p-5 h-full">
                    <div class="rounded-xl lg:rounded-2xl xl:rounded-[20px] overflow-hidden">
                        <img src="assets/images/upchar4.webp" class="w-full h-[260px] object-cover" alt="chara"/>
                    </div>
                    <div class="w-full max-w-96 mx-auto space-y-1.5 lg:space-y-2.5 text-center mt-2.5 xl:mt-4">
                        <h4 class="font-bold text-black">माँ गायों का ऑपरेशन</h4>
                        <div>
                            <p class="text18 text-black font-normal">लाभ: यह माँ गायों के अमूल्य जीवन को बचाने में मदद करेगा।</p>
                        </div>
                    </div>
                    <div class="mt-2.5 lg:mt-3 2xl:mt-5 text-center">
                        <button class="btn_primary py-1.5 lg:py-2.5 bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-28 xl:max-w-40">अभी दान करें</button>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/3 p-1.5 xl:p-2 2xl:p-3.5 h-auto">
                <div class="bg-white border-2 border-[#E8E8E7] rounded-xl lg:rounded-2xl xl:rounded-[20px] p-2.5 xl:p-3 2xl:p-5 h-full">
                    <div class="rounded-xl lg:rounded-2xl xl:rounded-[20px] overflow-hidden">
                        <img src="assets/images/upchar5.webp" class="w-full h-[260px] object-cover" alt="chara"/>
                    </div>
                    <div class="w-full max-w-96 mx-auto space-y-1.5 lg:space-y-2.5 text-center mt-2.5 xl:mt-4">
                        <h4 class="font-bold text-black">स्वास्थ्य टॉनिक</h4>
                        <div>
                            <p class="text18 text-black font-normal">लाभ: प्रतिरक्षा और जीवन शक्ति बढ़ाने वाला शक्तिशाली व पुनर्जीवित करने वाला टॉनिक।</p>
                        </div>
                    </div>
                    <div class="mt-2.5 lg:mt-3 2xl:mt-5 text-center">
                        <button class="btn_primary py-1.5 lg:py-2.5 bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-28 xl:max-w-40">अभी दान करें</button>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/3 p-1.5 xl:p-2 2xl:p-3.5 h-auto">
                <div class="bg-white border-2 border-[#E8E8E7] rounded-xl lg:rounded-2xl xl:rounded-[20px] p-2.5 xl:p-3 2xl:p-5 h-full">
                    <div class="rounded-xl lg:rounded-2xl xl:rounded-[20px] overflow-hidden">
                        <img src="assets/images/upchar6.webp" class="w-full h-[260px] object-cover" alt="chara"/>
                    </div>
                    <div class="w-full max-w-96 mx-auto space-y-1.5 lg:space-y-2.5 text-center mt-2.5 xl:mt-4">
                        <h4 class="font-bold text-black">प्लास्टिक निष्कासन सर्जरी</h4>
                        <div>
                            <p class="text18 text-black font-normal">लाभ: हमारी टीम गायों और बैलों के शरीर से प्लास्टिक हटाकर उनका स्वास्थ्य सुनिश्चित करती है।</p>
                        </div>
                    </div>
                    <div class="mt-2.5 lg:mt-3 2xl:mt-5 text-center">
                        <button class="btn_primary py-1.5 lg:py-2.5 bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-28 xl:max-w-40">अभी दान करें</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pb-10 sm:pb-12 md:pb-14 lg:pb-16 xl:pb-20">
    <div class="warrper">
        <div class="flex flex-wrap items-center -mx-3.5">
            <div class="w-full md:w-1/2 p-3.5">
                <img src="assets/images/godan.webp" class="mx-auto md:m-0 md:mr-auto" alt="video_img">
            </div>
            <div class="w-full md:w-1/2 p-3.5">
                <h2 class="text-black font-bold max-w-[533px] mb-2 md:mb-3 xl:mb-4">देशी गाय का गौदान</h2>
                <div class="space-y-2 2xl:space-y-3">
                    <div class="space-y-2 xl:space-y-3 2xl:space-y-4">
                        <h5 class="font-bold text-black">लाभ:</h5>
                        <p class="text20 font-normal text-black">यह गौदान जीवन की बाधाओं को दूर कर सफलता दिलाता है। यह सभी प्रकार के दोषों जैसे नक्षत्र दोष, पितृदोष आदि को समाप्त करता है।</p>
                    </div>
                    <div class="space-y-2 xl:space-y-3 2xl:space-y-4">
                        <h5 class="font-bold text-black">आवश्यकता</h5>
                        <p class="text20 font-normal text-black">गौदान किसी भी शुभ अवसर जैसे जन्मदिन, वर्षगांठ, संतान जन्म, सुखी वैवाहिक जीवन, श्राद्ध, गृह प्रवेश, नई नौकरी, या किसी भी प्रकार की बाधा के निवारण हेतु किया जा सकता है।</p>
                    </div>
                </div>
                <div class="mt-2.5 md:mt-4 lg:mt-8 xl:mt-10 2xl:mt-12">
                    <button class="btn_primary bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-32 lg:max-w-[200px]">संपर्क करें</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pb-10 sm:pb-12 md:pb-14 lg:pb-16 xl:pb-20">
    <div class="warrper">
        <div class="flex flex-wrap items-center -mx-3.5">
            <div class="w-full md:w-1/2 order-2 md:order-1 p-3.5">
                <h2 class="text-black font-bold max-w-[533px] mb-2 md:mb-3 xl:mb-4">ब्राह्मण दक्षिणा</h2>
                <p class="text20 font-normal text-black">दक्षिणा वह उपहार है जो वैदिक रीति से संपूर्ण अनुष्ठान करने वाले ब्राह्मणों को प्रदान किया जाता है।</p>
                <div class="mt-2.5 md:mt-4 lg:mt-8 xl:mt-10 2xl:mt-12">
                    <button class="btn_primary bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-32 lg:max-w-[200px]">संपर्क करें</button>
                </div>
            </div>
            <div class="w-full md:w-1/2 order-1 md:order-2 p-3.5">
                <img src="assets/images/dakshina.webp" class="mx-auto md:m-0 md:ml-auto" alt="video_img"/>
            </div>
        </div>
    </div>
</section>
<section class="pb-10 sm:pb-12 md:pb-14 lg:pb-16 xl:pb-20">
    <div class="warrper">
        <div class="flex flex-wrap items-center -mx-3.5">
            <div class="w-full md:w-1/2 p-3.5">
                <img src="assets/images/cow_chara.webp" class="mx-auto md:m-0 md:mr-auto" alt="video_img"/>
            </div>
            <div class="w-full md:w-1/2 p-3.5">
                <h2 class="text-black font-bold max-w-[533px] mb-2 md:mb-3 xl:mb-4">दान की गई गायों के लिए चारा</h2>
                <p class="text20 font-normal text-black">जो कोई भी गाय का दान करता है, वह उसके साथ चारा भी देता है ताकि ब्राह्मणों और संतों को उसके भोजन और अन्य आवश्यकताओं की चिंता न हो। आप भी चारे का दान कर सकते हैं।</p>
                <div class="mt-2.5 md:mt-4 lg:mt-8 xl:mt-10 2xl:mt-12">
                    <button class="btn_primary bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-32 lg:max-w-[200px]">संपर्क करें</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pb-10 sm:pb-12 md:pb-14 lg:pb-16 xl:pb-20">
    <div class="warrper">
        <div class="flex flex-wrap items-center -mx-3.5">
            <div class="w-full md:w-1/2 order-2 md:order-1 p-3.5">
                <h2 class="text-black font-bold max-w-[533px] mb-2 md:mb-3 xl:mb-4">पूजा सामग्री</h2>
                <p class="text20 font-normal text-black">आमतौर पर एक सजी-धजी गाय के साथ आवश्यक पूजा सामग्री दान की जाती है। इसकी सजावट के लिए चुनरी (स्तोला), सींग कवर, घुंघरू, पट्टा, घंटी और फूलों का उपयोग किया जाता है।</p>
                <div class="mt-2.5 md:mt-4 lg:mt-8 xl:mt-10 2xl:mt-12">
                    <button class="btn_primary bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-32 lg:max-w-[200px]">संपर्क करें</button>
                </div>
            </div>
            <div class="w-full md:w-1/2 order-1 md:order-2 p-3.5">
                <img src="assets/images/cow_pooja.webp" class="mx-auto md:m-0 md:ml-auto" alt="video_img"/>
            </div>
        </div>
    </div>
</section>
<section class="pb-10 sm:pb-12 md:pb-14 lg:pb-16 xl:pb-24">
    <div class="warrper max-w-[960px]">
        <div class="bg-l1 p-6 lg:p-8 xl:p-10 2xl:p-12">
            <h2>आपका योगदान, हमारी उम्मीद</h2>
            <div class="mt-1.5 lg:mt-2.5 xl:mt-3 2xl:mt-4">
                <label class="h5 font-bold text-black">अपनी पसंद की राशि दान करें</label>
                <input type="text" class="input" placeholder="यहां अपनी राशि लिखे"/>
            </div>
            <h4 class="text-orange font-bold mt-2.5 lg:mt-3 xl:mt-4 2xl:mt-5 mb-3 md:mb-4 lg:mb-5 xl:mb-6 2xl:mb-7">पूर्व निर्धारित दान राशियाँ</h4>
             <div class="w-full overflow-x-auto">
                <table class="dan_rashi w-full overflow-x-auto">
                    <thead>
                        <tr>
                            <th>वस्तु का नाम</th>
                            <th>यूनिट</th>
                            <th>मूल्य (₹)</th>
                            <th>मात्रा</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="flex items-center justify-center space-x-5">
                                    <span>12</span>
                                    <span class="inline-block">चारा</span>
                                </div>
                            </td>
                            <td>
                                <span class="">1 टन</span>
                            </td>
                            <td>₹ 2800</td>
                            <td>
                                <input type="radio"/>
                                <span>1</span>
                                <input type="radio"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="flex items-center justify-center space-x-5">
                                    <span>12</span>
                                    <span class="inline-block">चारा</span>
                                </div>
                            </td>
                            <td>
                                <span class="">1 टन</span>
                            </td>
                            <td>₹ 2800</td>
                            <td>
                                <input type="radio"/>
                                <span>1</span>
                                <input type="radio"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="flex items-center justify-center space-x-5">
                                    <span>12</span>
                                    <span class="inline-block">चारा</span>
                                </div>
                            </td>
                            <td>
                                <span class="">1 टन</span>
                            </td>
                            <td>₹ 2800</td>
                            <td>
                                <input type="radio"/>
                                <span>1</span>
                                <input type="radio"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
             </div>
            <div class="mt-2.5 xl:mt-3 2xl:mt-7">
                <label class="h5 font-bold text-black">पेमेंट मेथड सेलेक्ट करे</label>
                <div class="flex items-center space-x-7">
                    <div class="w-max relative flex items-center">
                        <input type="radio" name="help" id="1" class="absolute w-full h-full inset-0 opacity-0 z-10">
                        <div class="radio2">
                            <span class="w-2 h-2 bg-[#02A95C] block rounded-full opacity-0"></span>
                        </div>
                        <label for="1" class="text18 font-semibold text-[#002055] ml-2 mt-0.5">ऑनलाइन पेमेंट</label>
                    </div>
                    <div class="w-max relative flex items-center">
                        <input type="radio" name="help" id="1" class="absolute w-full h-full inset-0 opacity-0 z-10">
                        <div class="radio2">
                            <span class="w-2 h-2 bg-[#02A95C] block rounded-full opacity-0"></span>
                        </div>
                        <label for="1" class="text18 font-semibold text-[#002055] ml-2 mt-0.5">ऑफलाइन पेमेंट</label>
                    </div>
                </div>
            </div>
            <div class="mt-3 xl:mt-5 2xl:mt-7">
                <button class="btn_primary bg-orange hover:bg-transparent hover:text-black hover:border-orange anim w-full max-w-32 lg:max-w-[200px]">जमा करे</button>
            </div>
        </div>
    </div>
</section>